openapi: 3.1.0
info:
  title: Poe Chat Models API
  version: '1.0'
  summary: OpenAI-compatible API for accessing AI models and bots on Poe.
  description: The Poe API is a developer platform by Quora that provides access to hundreds of AI models and bots through a single OpenAI-compatible interface. Developers can call Chat Completions and Responses endpoints, list available models, and monitor point usage and balance using a single API key issued at https://poe.com/api/keys. The API supports text, image, video, and audio generation modalities and is rate-limited to 500 requests per minute.
  contact:
    name: Poe Creator Platform
    url: https://creator.poe.com/
  license:
    name: Poe Terms of Service
    url: https://poe.com/tos
servers:
- url: https://api.poe.com/v1
  description: Poe API (OpenAI-compatible Chat Completions and Responses endpoints)
- url: https://api.poe.com
  description: Poe API root (Usage and Balance endpoints)
security:
- BearerAuth: []
tags:
- name: Models
  description: Discover available bots and models.
paths:
  /models:
    get:
      tags:
      - Models
      summary: List models
      description: List the AI models and bots available through the Poe API.
      operationId: listModels
      servers:
      - url: https://api.poe.com/v1
      responses:
        '200':
          description: A list of available models.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ModelList'
        '401':
          $ref: '#/components/responses/Unauthorized'
components:
  schemas:
    Model:
      type: object
      properties:
        id:
          type: string
        object:
          type: string
          example: model
        created:
          type: integer
        owned_by:
          type: string
    ModelList:
      type: object
      properties:
        object:
          type: string
          example: list
        data:
          type: array
          items:
            $ref: '#/components/schemas/Model'
    Error:
      type: object
      properties:
        error:
          type: object
          properties:
            type:
              type: string
            message:
              type: string
            code:
              type: string
  responses:
    Unauthorized:
      description: Invalid or missing API key.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'
  securitySchemes:
    BearerAuth:
      type: http
      scheme: bearer
      description: 'Bearer token issued from https://poe.com/api/keys. Pass as `Authorization: Bearer <api_key>`.'
