openapi: 3.1.0
info:
  title: Poe Chat API
  version: '1.0'
  summary: OpenAI-compatible API for accessing AI models and bots on Poe.
  description: The Poe API is a developer platform by Quora that provides access to hundreds of AI models and bots through a single OpenAI-compatible interface. Developers can call Chat Completions and Responses endpoints, list available models, and monitor point usage and balance using a single API key issued at https://poe.com/api/keys. The API supports text, image, video, and audio generation modalities and is rate-limited to 500 requests per minute.
  contact:
    name: Poe Creator Platform
    url: https://creator.poe.com/
  license:
    name: Poe Terms of Service
    url: https://poe.com/tos
servers:
- url: https://api.poe.com/v1
  description: Poe API (OpenAI-compatible Chat Completions and Responses endpoints)
- url: https://api.poe.com
  description: Poe API root (Usage and Balance endpoints)
security:
- BearerAuth: []
tags:
- name: Chat
  description: OpenAI-compatible chat completion endpoints.
paths:
  /chat/completions:
    post:
      tags:
      - Chat
      summary: Create a chat completion
      description: 'Create an OpenAI-compatible chat completion using any supported Poe bot (for example Claude-Sonnet-4.6, GPT-5.4, or Gemini-3.1-Pro). Streaming is supported via `stream: true`.'
      operationId: createChatCompletion
      servers:
      - url: https://api.poe.com/v1
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ChatCompletionRequest'
      responses:
        '200':
          description: A chat completion object.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ChatCompletionResponse'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '429':
          $ref: '#/components/responses/RateLimited'
components:
  schemas:
    ChatCompletionRequest:
      type: object
      required:
      - model
      - messages
      properties:
        model:
          type: string
          description: Bot or model identifier (for example `Claude-Sonnet-4.6`).
        messages:
          type: array
          items:
            $ref: '#/components/schemas/ChatMessage'
        stream:
          type: boolean
          default: false
        temperature:
          type: number
          format: float
        top_p:
          type: number
          format: float
        max_tokens:
          type: integer
        tools:
          type: array
          items:
            type: object
        tool_choice:
          oneOf:
          - type: string
          - type: object
    ChatMessage:
      type: object
      required:
      - role
      - content
      properties:
        role:
          type: string
          enum:
          - system
          - user
          - assistant
          - tool
        content:
          oneOf:
          - type: string
          - type: array
            items:
              type: object
        name:
          type: string
        tool_call_id:
          type: string
    Error:
      type: object
      properties:
        error:
          type: object
          properties:
            type:
              type: string
            message:
              type: string
            code:
              type: string
    ChatCompletionResponse:
      type: object
      properties:
        id:
          type: string
        object:
          type: string
          example: chat.completion
        created:
          type: integer
        model:
          type: string
        choices:
          type: array
          items:
            type: object
            properties:
              index:
                type: integer
              message:
                $ref: '#/components/schemas/ChatMessage'
              finish_reason:
                type: string
        usage:
          type: object
          properties:
            prompt_tokens:
              type: integer
            completion_tokens:
              type: integer
            total_tokens:
              type: integer
  responses:
    Unauthorized:
      description: Invalid or missing API key.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'
    RateLimited:
      description: Rate limit exceeded (500 requests per minute).
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'
  securitySchemes:
    BearerAuth:
      type: http
      scheme: bearer
      description: 'Bearer token issued from https://poe.com/api/keys. Pass as `Authorization: Bearer <api_key>`.'
